{% include 'partials/header.twig' %}

<!--suppress CheckTagEmptyBody -->

<section id="record-form">
  <record-form
    record-id="{{ page.recordId }}"
    action="{{ page.action }}"
    destination="{{ page.destination }}"
    json-projects='{{ page.jsonProjects }}'
    json-tasks='{{ page.jsonTasks }}'
    nonce='{{ page.nonce }}'
    json-values=""
  ></record-form>
</section>

<section id="records">
  <table>
    <thead>
    <tr>
      <th scope="col" id="col-date">Date</th>
      <th scope="col" id="col-start">Start</th>
      <th scope="col" id="col-end">End</th>
      <th scope="col" id="col-activity">Activity</th>
      <th scope="col" id="col-project">Project</th>
      <th scope="col" id="col-task">Task</th>
      <th scope="col" id="col-controls">
        <span class="screen-reader-text">
          Controls
        </span>
      </th>
    </tr>
    </thead>
    {% for record in page.records %}
      <tbody is="record-row"
        json-record='{{ record | json_encode }}'
        json-projects='{{ page.jsonProjects }}'
        json-tasks='{{ page.jsonTasks }}'
        nonce='{{ page.nonce }}'
        row="{{ loop.index }}"
      ></tbody>
    {% endfor %}
  </table>
</section>

{% include 'partials/footer.twig' %}
