{% include 'partials/header.twig' %}

<!--suppress CheckTagEmptyBody -->

<section id="record-form">
  <record-form
    record-id="{{ recordForm.recordId }}"
    action="{{ recordForm.action }}"
    destination="{{ recordForm.destination }}"
    json-values='{{ recordForm.jsonValues }}'
    json-projects='{{ recordForm.jsonProjects }}'
    json-tasks='{{ recordForm.jsonTasks }}'
    nonce='{{ recordForm.nonce }}'
  ></record-form>
</section>

{% include 'partials/footer.twig' %}
